@model IEnumerable<CalisthenicsSHOP.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

@Html.ActionLink("Create new product", "Create")

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td scope="row">
                    @Html.ActionLink("View", "View", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>